NODE_ENV=production
GUNS_USER_STORE=mongo-collections
GUNS_MONGO_URL=mongodb+srv://user:password@cluster.example.mongodb.net/?retryWrites=true&w=majority
GUNS_MONGO_DATABASE=guns
GUNS_COOKIE_SECURE=1
